@model IEnumerable<RealEstate.Models.Homes>

<div class="container">
    @foreach(var item in Model)
    {
        <img src="@item.HouseImageUrl" />
    }
</div>

           
            @*<div>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </div>*@
        
}
    
