
@{
    ViewData["Title"] = "ViewBooked";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-3">
    <h1 class="text-center">Thank you for scheduling your appointment !</h1>
    <a asp-action="Index" asp-controller="Home">Back To Homes</a>
</div>

