@{
    ViewData["Title"] = "Home Page";
}

@*Hero Section*@
<div class="hero">
    <div class="hero-text">
        <h1 class="hero-title text-center">Experienced Real Estate Experts</h1>
    </div>
    <div class="search">
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2 mr-2 ml-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-primary my-2 my-sm-0" disabled type="submit">Search</button>
        </form>
    </div>
</div>

<div class="container report">
    <div class="row generate">
        <h4 class="text-center">Discover what your home is worth</h4><br />
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2 mr-md-2" type="search" placeholder="Enter your address" aria-label="">
            <button class="btn btn-primary my-2 my-sm-0" disabled type="submit">Search</button>
        </form>
    </div>
</div>